h1 {
    color: rgb(red, green, rgb(204, 183, 156));
    background-color:rgb(204, 183, 156);
    margin: 75px;
    Padding: 40px;
    text-align: center;
    font: bold;
    transform: rotate(76)
}
body{
    background-image: url(Crowd.jpg)
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
frame{
    transition transform 1s;
    transition width 2s;

    width 530x;
    height
}